@model Caisse.Models.Categorie

@{
    ViewData["Title"] = "Details";
    var product = ViewBag.allProduct;
}

<h1>@product.Count produits dans la catégorie : @Model.Nom</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameForInnerType((Produit model) => model.Nom)
            </th>
            <th>
                @Html.DisplayNameForInnerType((Produit model) => model.Description)
            </th>
            <th>
                @Html.DisplayNameForInnerType((Produit model) => model.Price)
            </th>
            <th>
                @Html.DisplayNameForInnerType((Produit model) => model.Quantite)
            </th>
            <th>
                @Html.DisplayNameForInnerType((Produit model) => model.Categorie)
            </th>
            <th>
                @Html.DisplayNameForInnerType((Produit model) => model.PicturePath)
            </th>
            <th>
                <strong>Actions</strong>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in product)
        {
            <tr>
                <td>
                    <p>@item.Nom</p>
                </td>
                <td>
                    <p>@item.Description</p>
                </td>
                <td>
                    <p>@item.Price €</p>
                </td>
                <td>
                    <p>@item.Quantite @(item.Quantite > 1 ? "pièces" : "pièce")</p>
                </td>
                <td>
                    <p>@Model.Nom</p>
                </td>
                <td>
                    <img src="@item.PicturePath" alt="Description de l'image" class="img-thumbnail" style="width: 4vw" />
                </td>
                <td>
                    <a class="btn btn-warning" asp-controller="Produit" asp-action="Form" asp-route-id="@item.Id">Modifier le produit</a>
                    <a class="btn btn-secondary" asp-controller="Produit" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-danger" asp-controller="Produit"  asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>

        }
    </tbody>
</table>
